{erl_opts, [
    warn_export_all,
    warn_missing_spec,
    debug_info
]}.

{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    locals_not_used
]}.

{deps, [
    {alley_common, ".*", {git, "https://github.com/ten0s/alley_common.git", "548c6bf"}},
    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
    {oserl, ".*", {git, "git://github.com/PowerMeMobile/oserl.git", {branch, "trx_deadlock_fix_1"}}},
    %% this MUST be here or rebar will fail to include it into escript.
    {common_lib, "3.3.4", {git, "git://github.com/PowerMeMobile/common_lib.git", {tag, "v3.3.4"}}}
]}.

{overrides, [
    {del, [{erl_opts, [warnings_as_errors]}]}
]}.

{escript_name, "smppload"}.
{escript_incl_apps, [
    alley_common,
    common_lib,
    oserl,
    getopt,
    gsm0338
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{relx, [
    {release, {smppload, ""}, [
        kernel,
        stdlib,
        smppload
    ]},

    {overlay, [
       % {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
        {copy, "files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
        {copy, "files/smppload", "bin/smppload"},
        {copy, "files/smppload-starter", "smppload"},
        {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
        {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
    ]},

    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {vm_args, false}
]}.
