{sys, [
    {lib_dirs, ["../deps", "../.."]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "smppload", "", [
        kernel,
        stdlib,
        smppload
    ]},
    {rel, "develop", "", [
        kernel,
        stdlib,
        smppload
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "smppload"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, smppload, [{mod_cond, app}, {incl_cond, include}]},
    {app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "smppload"}.

{overlay, [
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/smppload", "bin/smppload"},
    {copy, "files/smppload-starter", "smppload"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
